body{
    font-family: 'Montserrat', sans-serif;
}
/*Cabezera*/
header{
    background-color: #BBBBBB;
    padding: 20px;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 15px;
}

nav a:hover{
    color: darkblue;
    text-decoration: underline;
}
/*Contenido*/
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 0.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 10px;
    border-top-width: 8px;
}

.productos li:hover{
    border-color: yellowgreen;
}

.productos li:active{
    border-color: darkcyan;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 31px;
}

.produc-descripcion{
    font-size: 18px;
}

.produc-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/*Pie de pagina*/
footer{
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}
/*  Css para el formulario*/
form{
    margin: 40px 40px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px ;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.01); /*rotate(20deg);*/
}

table{
    margin: 40px 14.9%;
}

thead{
    background: darkcyan;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 10px 15px;
}

/*CSS para la pagina HOME(index.html)- Parte 1*/

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em; /*Indicamos que sea dos veces el tamaño estandar*/
    margin: 1em 0 1em;
    clear: left;
}

.titulo-principal:first-letter{
    font-weight: bold;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(white, #888888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 2.3;
}

.items:first-child{
    font-weight: bold;
}

.items::before{
    content: "♧";
}

.imgDiferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 5px darkblue;
}

.imgDiferenciales:hover{
    opacity: 0.8;
}

.video{
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width: 480px){

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .productos{
        width: auto;
    }

    .productos li{
        display: block;
        width: auto;
    }

    .productos .barba{
        margin: 50px 0 50px;
    }

    .principal, .caja, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }

    .lista-diferenciales, .imgDiferenciales{
        width: 100%;
    }

    form label, form legend{
        text-align: center;
    }

    form select{
        display: flex;
        margin: 0 auto;
        padding: 2px 4px;
    }

    .input-padron{
        border: 1px solid black;
        margin: 0 auto 20px;
    }
    .enviar{
        width: auto;
        padding: 15px 15px;
        display: flex;
        margin: 0 auto;
    }

    table{
        margin: 40px auto;
    }
}