.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background: #f9f9f9;
}

.menu__lista{
    display: flex;
}

.menu__item{
    list-style: none;
}

.menu__link{
    color: #808080;
    text-decoration: none;
    margin-right: 1.35rem;
}

.menu__link:hover{
    text-decoration: underline;
}

.menu__link.activo{
    color: #333333;
}