.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between; /*Ya que el flex hizo flexible todo el contenedor, este elemento agrega un espacio entre el titulo y el nav, lo suficiemte para que cada uno quede en el borde de los lados*/
}

.headerPrincipal-nav{
    display: flex;  /*Con flex en el contenedor padre, las clases hijas heredan sus propiedades como: align-items y justify-content*/
}

.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

/*.videoSobre .container{
    display: flex;
}*/

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 250px;
    flex-wrap: wrap; /*Ya que con flex-direction: colum, todo se puso en una columna establecimos una altura pero utilizamos wrap para que, los elementos que sobrepasaban la altura se fueran a la siguiente columna*/
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.videoSobre .container{
    display: flex;
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.videoSobre-video{
    flex-grow: 0.5;
    margin-left: auto;
    margin-right: auto;
}

.videoSobre-sobre-list{
    flex-grow: 2;
    flex-shrink: 2;
}

.videoSobre-button{
    flex-grow: 0;
}

/*Responsive*/
@media (max-width: 768px){
    .headerPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav-link-app{
        order: -1;
    }
    
    .headerPrincipal-nav{
        flex-direction: column;
    }
    
    .contenidoPrincipal-cursos{
        flex-direction: column;
    }
    .contenidoPrincipal-cursos-link{
        width: 100%;
    }
    
    .rodapePrincipal-navMap-list{
        height: auto;
        flex-wrap: nowrap;
    }
    
    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }
    
    .rodapePrincipal-contatoForm{
        width: 100%;
    }
    
    .rodapePrincipal-patrocinadores-list{
        align-items: center;
        width: 100%;
        margin: 0;
    }
    
    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

    .videoSobre .container{
        flex-direction: column;
    }
}