.listaOpciones label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.listaOpciones select{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 24px;
    border: none;
    outline-color: #6278f7;
    font-size: 16px;
}